// Place all the styles related to the UsersController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2 {
	text-align: center;
	font-family:Courier New, Impact;
}

h1 {
	position: relative;
	left: 8.5em;
	width: 15em;
	top: 0em;
	text-align: center;
	font-size: 200%
}

.login {

	width: 15em;
	position: relative;
	left: 10em;	
	top: 2em;

}

.sign_up {
	width: 15em;
	position: relative;
	left: 35em;
	top: -4em;
}

.flash_notice {
	position: relative;
	left: 5.25em;
	width: 15em;
	text-align: center;
	font-family: Courier New, Impact;
	font-size: 140%

}

.error_explanation {
	position: relative;
	left: 8.5em;
	width: 35em;
	text-align: center;
}
