
<tr>
	<th>User:</th>
	<td><%=update.user.user_name%></td>
	<th>Update:</th>
	<td class="updates"><%= update.status %></td>
	<% if @current_user.id == update.user.id %>
		<td><%= button_to("edit", action: "edit", data: {edited_update_id: update.id, edited_update_user_id: update.user.id}) %>
		</td>
		<td><%= button_to("delete", action: "delete", data: {edited_update_id: update.id, edited_update_user_id: update.user.id}) %>
		</td>
	<% end %>	
</tr>